<li class="{{if todo.isCompleted 'completed'}}">
    {{#if isEditing}}
        {{input type="text" class="edit" value=todo.title focus-out="acceptChanges"
        insert-newline="acceptChanges"}}
    {{else}}
        {{input type="checkbox" checked=todo.isCompleted class="toggle"}}
        <label {{action "editTodo" on="doubleClick"}}>{{todo.title}}</label>
        <button {{action "deleteTodo" todo}} class="destroy"></button>
    {{/if}}
</li>

{{yield}}
